progress {
  text-align: center;
  height: 1.5em;
  -webkit-appearance: none;
  border: none;

  margin: 0px;
  width:250px;
  border:0;
  
  /* Set the progressbar to relative */
  position:relative;
}

progress:before {
  /*content: attr(data-label);*/
  font-size: 0.8em;
  vertical-align: 0;
  
  /*Position text over the progress bar */
  position:absolute;
  left:0;
  right:0;
}

progress::-webkit-progress-bar {
  background-color: #c9c9c9;
}

progress::-webkit-progress-value {
  background-color: #7cc4ff;
}

progress[data-above-limit='true']::-webkit-progress-value {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: #7cc4ff;
}

progress[data-above-limit='true']::-moz-progress-bar {
  background-color: red;
}

.percentage{
  float: left;
  margin-left:100px;
  margin-top: -20px;
  position: absolute;
  display: block;
  color: #FFF;
}